$break-small: 480px;
$break-large: 1024px;

@mixin respond-to($media) {
	@if $media == handhelds {
		@media only screen and (max-width: $break-small) { @content; }
	}
	@else if $media == medium-and-up {
		@media only screen and (min-width: $break-small + 1) { @content; }
	}
	@else if $media == medium-screens {
		@media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == wide-screens {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

.vehicle {

	&-list {
		list-style-type: none;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		padding: 0;

		&-item {
			display: flex;
			flex-grow: 1;

			@include respond-to(medium-screens) {
				flex-basis: 50%;
				max-width: 50%;
			}

			@include respond-to(wide-screens) {
				flex-basis: 25%;
				max-width: 25%;
			}
		}

	}


	&-info {
		text-align: center;
		flex-grow: 1;
		border: 1px solid lightgray;
		display: flex;
		align-content: flex-start;

		@include respond-to(medium-and-up) {
			flex-wrap: wrap;
		}

		&-details {
			padding: 10px;
			flex-grow: 1;

			&_name {
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			font-size: 1.5em;
			font-weight: 500;
			display: inline-block;
			margin-bottom: 25px;

			}

			&_price {
				margin-bottom: 10px;
			}
		}

		&_image {
			flex-basis: 100%;
			max-width: 30%;
			height: auto;
			background-size: cover;
			background-position: center;

			@include respond-to(medium-and-up) {
				width: 100%;
				height: 200px;
				background-size: cover;
				background-position: center;
				max-width: none;
			}
		 }
	}


}